body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 400px;
  margin: auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  background-color: #10a8f9;
  color: white;
  border: none;
  border-radius: 7px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #e0f7fa;
  margin: 5px 0;
  padding: 8px;
  border-radius: 7px;
}
